.wrapper > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.wrapper > form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.wrapper > form > button {
    margin-top: 30px;
}

.wrapper > form > button > img {
    width: 30px;
}

.wrapper > form > div > div {
    width: 100%;
    margin: 0 20px;
}

.wrapper > form input {
    margin: 10px 0;
}

.wrapper > form textarea {
    height: 200px;
}