.item {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainContent div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent div h3 {
    font-size: 64px;
    font-weight: 400;
    margin-left: 12px;
}

.mainContent span {
    margin-left: 5px;
    margin-bottom: 10px;
}

.subContent {
    color: #4A607A;
    margin-top: 20px;
    font-size: 18px;
}