.footer {
    background: #4A607A;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.infoWrapper > div {
    width: 50%;
    height: 315px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav > a {
    color: #fff;
    margin: 5px 0;
    transition: all 0.2s;
}

.nav > a:hover {
    transition: all 0.2s;
    color: #DDD0A4;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts > div {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.location > span {
    color: #939CA6;
}

.contactsItems {
    color: #fff;
}

.contactsItems > div {
    margin-bottom: 40px;
}

.contactsItems > div > div {
    font-size: 14px;
}

.contactsItems > div > strong {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.7;
}

.contactsItems > div > strong:hover {
    transition: all 0.2s;
    opacity: 1;
}

.socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetwork > img {
    margin-right: 20px;
    transition: all 0.2s;
}

.socialNetwork > img:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.subContent {
    border-top: 1px solid #939CA6;
    width: 100%;
}

.subContentWrapper {
    font-size: 14px;
    color: #939CA6;
    padding: 30px 0;
}