.docs {
    margin: 15px 0;
}

.docs a {
    cursor: pointer;
    color: #A89060;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.docs img {
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
}