.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 20px;
}

.wrapper > h5 {
    font-weight: 500;
    color: #535D69;
}

.wrapper > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.wrapper > span {
    color: #57A24B;
    font-size: 14px;
    font-weight: 500;
}

.hashtag {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #DDD0A4;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.hashtag:hover {
    transition: all .2s;
    background: rgba(220, 0, 0, 0.2);
}

.hashtag:hover::after {
    content: '';
    background: url(/imgs/news/cross.png) no-repeat center / 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.plugs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.plugs > div {
    width: 80px;
    height: 30px;
    border: 1px solid #939CA6;
    border-radius: 25px;
    margin: 10px 5px;
}