.profileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    position: relative;
}

.avatar > img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100%;
}

.avatar > span > img {
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 100;
    cursor: pointer;
    transition: all .2s;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar > span > img:hover {
    transition: all .2s;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.info {
    margin-left: 60px;
}

.info > h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
}

.info > span {
    color: #939CA6;
    font-size: 14px;
}