.navItem {
    margin: 0 30px;
    position: relative;
}

.location {
    font-weight: 500;
}

.navItemList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItemList > img {
    margin-left: 10px;
}

.navItemList > span {
    padding: 5px;
    transition: all .2s;
}

.navItemList > span:hover {
    transition: all .2s;
    text-decoration: underline;
}

.navItem:last-child {
    font-weight: 500;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}