.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    pointer-events: none;
}

.popup.active {
    pointer-events: all;
}

.wrapper {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    transition: all 1s;
    position: relative;
    z-index: 101;
    transform: translateY(-100%);
}

.wrapper.active {
    transition: all 1s;
    transform: translateY(30vh);
}

.wrapper > img {
    width: 100px;
}